{% extends "layout.html.twig" %}
{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

<form action="{{ page }}" method="POST">
    <div class="nb-3"></div>
    <select class="form-select" name="Categorie"></select>
    </div>

        <li> <a href="href=http://site-ecommeerce-cours/?page=addproduct" class="btn btn-primary">Ajouter</a> </li>
        <li> <a href="href=http://site-ecommeerce-cours/" class="btn btn-primary">Ajouter</a> </li>
        <li> <a href="href=http://site-ecommeerce-cours/?page=deleteproduct" class="btn btn-primary">Ajouter</a> </li>

{% endblock %}