{% extends "layout.html.twig" %}
{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

<form action="{{ page }}" method="POST">
    <div class="nb-3"></div>
    <select class="form-select" name="Categorie"></select>
    </div>

        <li> <button type="button" class="btn btn-primary">Ajouter</button><a>href=http://site-ecommeerce-cours/?page=addproduct</a></li>
        <li><button type="button" class="btn btn-secondary">Retour au menu</button><a>href=http://site-ecommeerce-cours</a>
        </li>
        <li><button type="button" class="btn btn-danger">Supprimer</button><a>href=http://site-ecommeerce-cours/?page=deleteproduct</a></li>
    {% endblock %}