{% extends "layout.html.twig" %}
{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

<form> action="{{ page }}" method="POST"></form>
    <div class="nb-3"></div>
    <select class="form-select" name="Categorie"></select>
    </div>

        <ul> <a href="href=http://site-ecommeerce-cours/?page=addproduct" class="btn btn-primary">Ajouter</a> </ul>
        <ul> <a href="href=http://site-ecommeerce-cours/" class="btn btn-primary">Retourner au menu</a> </ul>
        <ul> <a href="href=http://site-ecommeerce-cours/?page=deleteproduct" class="btn btn-primary">Supprimer</a> </ul>

{% endblock %}