{% extends "layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

<form action="{{ page }}" method="POST">
    <div class="nb-3"></div>
    <select class="form-select" name="productCategory"></select>
    <option value="18">Carte graphique</option>
    <option value="19">Disque dur</option>
    </div>
    <button type="submit" class="btn btn-primary" name="btnAddProduct">Ajouter</button>

    <form action="index.php?page=addProduct" method="POST">
<div class="nb-3">
<label for="productLabel" class="form-label">Libellé</label>
<input type="text" class="form-control" id="productLabel" name="productLabel"></intput>
</div>
</form>

<div class="nb-3">
<label for="productDescription" class="form-label">Description</label>
<textarea class="form-control" id="productDescription"></textarea>
<input type="text" class="form-control" id="productLabel" name="productDescription" rows="3"></intput>
</div>
<div class="nb-3">
<label for="productPrice" class="form-label">Prix</label>
<textarea class="form-control" id="productDescription"></textarea>
<input type="number" class="form-control" id="productPrice" name="productPrice"></intput>
</div>
</form>

{% endblock %}  

