{% extends "layout.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block content %}
    <center>
        <div class="card" style="width: 50rem;">
            <div class=".border .rounded-pill">
                <div class="card-body text-secondary">
                    <div class="container d-flex h-100">
                        <div class="h-100 align-items-center">
                            <div class="mx-auto">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/The_Last_of_Us_Logo_2.png"
                                             class="card-img-top" alt="" width=50% height=50%>
                                        <h1>Connexion</h1>

                                        {% if form.message is defined %}

                                            <div class="alert alert-{{ form.state|default('info') }}">
                                                {{ form.message }}
                                            </div>

                                        {% endif %}

                                        <div class="inputs">
                                            <form action="" method="POST">

                                                <!--créer une interaction pour le  email et ajouter la donnée mail -->
                                                <label>
                                                    Adresse e-mail :
                                                    <input
                                                            type="email"
                                                            placeholder="Email"
                                                            name="email"
                                                            value="{{ form.values.email }}"
                                                    />
                                                </label>

                                                <br/>

                                                <!--créer une interaction pour le password  et ajouter la donnée password -->
                                                <label>
                                                    Mot de passe :
                                                    <input
                                                            type="password"
                                                            placeholder="5€CURIZ3D"
                                                            name="password"
                                                    />
                                                </label>

                                                <br/>

                                                <!--créer un bouton pour se connecter-->
                                                <button type="submit" name="Submitted">Se connecter</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}