<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--Centre le titre de la barre de navigation  -->
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fa-sharp fa-solid fa-shop"></i>
             
            Shop
        </a>
        <!--Créer une class bouton, déclare le type de bouton, rends responsive le bouton, -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"

                aria-expanded="false" aria-label="toggle Navigation"> <!--La fonction aria doit être appliqué sur un bouton ,
false signifie que le tableau est plié, permet de définir une
 légende non-visible associée à un élément HTML dont le sens est transmis uniquement par le visuel.-->
            <!--De faire les 3 traits quand le menu se cache-->
            <span class="navbar-toggler-icon"></span>
        </button>
        <!---->
        <div class="collapse navbar-collapse justify-content-between" id="navbarResponsive">
            <!--Créer une liste de bouton pour la nav bar, mb= margin-bottom = marge du dessous,
              la marge est de 2 sauf si l'écran est grand elle est de 0-->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <!--Créer une liste de bouton de navigations-->
                <li class="nav-item">
                    <a href="/?page=contact" class="nav-link">
                        <i class="fa-sharp fa-solid fa-envelope"></i>
                         
                        Contact
                    </a>
                </li>
            </ul>

            {% if session.auth.role == 2 %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-key"></i>
                             
                            Administration
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/?page=adminProductList">Produits</a></li>
                            <li><a class="dropdown-item" href="/?page=adminCategoryList">Catégories</a></li>
                            <li><a class="dropdown-item" href="/?page=adminUserList">Utilisateurs</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

            {% if session.auth is defined %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-user"></i>
                             
                            {{ session.auth.login }}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item text-danger" href="/?page=logout">Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <a href="/?page=register" class="btn ms-2 text-light">S'inscrire</a>
                <a href="/?page=login" class="btn btn-success ms-2">Se connecter</a>
            {% endif %}

        </div>


    </div>
</nav>