{% extends "layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

<div class="container">
      <div class="col-6">
            <img class="mx-auto d-block" src="https://res.cloudinary.com/practicaldev/image/fetch/s--_GqDpWw0--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/7aqcppklh6bexoa70320.jpg">  
        </div>
</div>

   <div class="alert alert-danger text-center">Oops cette page n'est pas trouvée</div>
    
 
<footer>
      
        <p class="text-center">©2022 Emilie Delobelle</p>
 
 

{% endblock %}  